/* CoursesTable.module.css */
.container {
  color: #fff;
}

.table {
  /* background-color: rgba(51, 51, 51, 0.1); */
  background-color: rgba(51, 51, 51, 0.1);

  width: auto;
  /* border-collapse: collapse; */
  margin-top: 5px;
  padding-bottom: 20px;
  border-radius: 5px;

}

.tableHeader {
  color: #717890;
  padding: 10px;
  padding-right: 20px;
  text-align: left;
}

.tableData {
  padding-left: 10px;
  padding-right: 40px;
  padding-bottom: 5px;
}

.termHeader {
  color: #717890 ;
  text-align: center;
  font-weight: bold;
  padding: 10px 0;
}

.animation {
  display: inline-block; 
  position: relative;
  color: #fff;
}

.animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}