.nav {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

.navlinks {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

.logo {
  width: 60px;
  height: auto;
  margin-right: 2rem;
}

.animation {
    display: inline-block; 
    position: relative;
    color: #fff;
    /* a values */
    margin-right: 2rem;
  }
  
  .animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #fff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  .animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

.gradientbg {
  background:-moz-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* safari 5.1+,chrome 10+ */
  background:-webkit-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* opera 11.10+ */
  background:-o-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* ie 10+ */
  background:-ms-radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);

  /* global 92%+ browsers support */
  background:radial-gradient(circle at 3% 25%, rgba(0, 40, 83, 1) 0%, rgba(4, 12, 24, 1) 25%);
}