.container {
    font-family: var(--font-family);
    font-size: 14px;
    line-height: 24px;
    padding-left: 0%;
    color: var(--color-text);
}

.row {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.timespan {
    grid-column: span 1;
    font-size: 16px;
    font-weight: 500;
    text-align: right;
    white-space: nowrap;
    padding-right: 1rem;
    color: var(--timeline-color);
}

.desc {
    grid-column: span 10;
    vertical-align: top;
    font-size: 16px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 0.5rem;
    flex: 7; /* Changes length of bars */
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    max-width: 80%; /* Text width */
    word-wrap: break-word;
}

.ico {
    grid-column: span 1;
    top: 5px;
    vertical-align: top;
    border-left: 2px solid var(--timeline-color);
    position: relative;
}

.fadeico {
    grid-column: span 1;
    top: 5px;
    vertical-align: top;
    border-left: 2px solid;
    border-image: 
    linear-gradient(
      to bottom, 
      var(--timeline-color) 0%,
      rgba(0, 0, 0, 0)
    ) 1 100%;
    position: relative;
}

.entry_dot {
    position: absolute;
    left: -10px;
    top: -1px;
    width: 14px;
    height: 14px;
    border-radius: 10px;
    background: var(--timeline-color);
    border: 2px solid var(--color-bg);
}

.gpt3__features {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-top: 10%;
}

.gpt3__features_heading h1 {
    font-family: var(--font-family);
    font-weight: 450;
    font-size: 50px;
    line-height: 50px;
    letter-spacing: 0.05em;
    background-image: var(--gradient-text);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gpt3__features_heading {
    margin-right: 7%;
    margin-bottom: 2rem;
}
